@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: #026773;
  --secondary-color: #3CA6A6;
  --text-color: #024959;
  --background-color: #F2E3D5;
  --button-hover: #012E40;
  --font-body: 'Noto Serif', serif;
  --font-titulo: 'Noto Serif', serif;
}

* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-family: var(--font-body);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  font-family: var(--font-body);
}

h1, h2, h3 {
  font-family: var(--font-titulo);
  font-weight: 700;
}

h1 {
  margin-top: 20px;
}

h2 {
  margin-top: 30px;
}

h3 {
  margin-top: 25px;
}

p {
  margin-top: 20px;
}

img {
  max-width: 90%;
}

.indentado {
  margin-left: 15px;
}
